GettingStartedClient/Connected Services/ServiceReference1/02.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://acleite/myservices/2018/12/07" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://acleite/myservices/2018/12/07" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://acleite/myservices/2018/12/07/Imports">
      <xsd:import namespace="http://acleite/myservices/2018/12/07" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Calc_InputMessage">
    <wsdl:part name="parameters" element="tns:Calc" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Calc_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_CloseCalc_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseCalc" />
  </wsdl:message>
  <wsdl:message name="ICalculator_CloseCalc_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseCalcResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://acleite/myservices/2018/12/07/ICalculator/Add" message="tns:ICalculator_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://acleite/myservices/2018/12/07/ICalculator/AddResponse" message="tns:ICalculator_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input wsaw:Action="http://acleite/myservices/2018/12/07/ICalculator/Subtract" message="tns:ICalculator_Subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://acleite/myservices/2018/12/07/ICalculator/SubtractResponse" message="tns:ICalculator_Subtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://acleite/myservices/2018/12/07/ICalculator/Multiply" message="tns:ICalculator_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://acleite/myservices/2018/12/07/ICalculator/MultiplyResponse" message="tns:ICalculator_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://acleite/myservices/2018/12/07/ICalculator/Divide" message="tns:ICalculator_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://acleite/myservices/2018/12/07/ICalculator/DivideResponse" message="tns:ICalculator_Divide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Calc">
      <wsdl:input wsaw:Action="http://acleite/myservices/2018/12/07/ICalculator/Calc" message="tns:ICalculator_Calc_InputMessage" />
      <wsdl:output wsaw:Action="http://acleite/myservices/2018/12/07/ICalculator/CalcResponse" message="tns:ICalculator_Calc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseCalc">
      <wsdl:input wsaw:Action="http://acleite/myservices/2018/12/07/ICalculator/CloseCalc" message="tns:ICalculator_CloseCalc_InputMessage" />
      <wsdl:output wsaw:Action="http://acleite/myservices/2018/12/07/ICalculator/CloseCalcResponse" message="tns:ICalculator_CloseCalc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>